<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/outlook/index.html">Outlook Provider</a>
        </li>

        <li>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/outlook/d/category.html">outlook_category</a>
            </li>

            <li>
              <a href="/docs/providers/outlook/d/mail_folder.html">outlook_mail_folder</a>
            </li>
          </ul>
        </li>

        <li>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li>
            <a href="/docs/providers/outlook/r/category.html">outlook_category</a>
          </li>

          <li>
            <a href="/docs/providers/outlook/r/mail_folder.html">outlook_mail_folder</a>
          </li>

          <li>
            <a href="/docs/providers/outlook/r/message_rule.html">outlook_message_rule</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
